#datatable
{
    height: 100%;
    width: 100%;    
}
th, td 
{
    padding: 0.5rem;
}
tr:nth-child(even) 
{
    background: #CCC
}
tr:nth-child(odd)
{
    background: #FFF
}
#errdiv
{   
    font-size: 1.50em;
    margin-left: 2rem;
}
#query.error
{
    background-color: #ffaaaa;
}